.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}


.slug-enter-active, .slug-leave-active {
  transition: opacity .5s;
}
.slug-enter, .slug-leave-active {
  opacity: 0;
}
