@import "./color";


.transition{
  cursor: pointer;
  transition: all .3s;
  background-color: $clr_black;
}
.transition:hover{
  background-color: $clr_white;
}

.red{
  color:$clr_red;
}

.rotate{
  transform: rotateZ(45deg);
}

.bggoogle{
  width: 100px;
  height: 100px;
  background: url("https://www.google.co.jp/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png") no-repeat 0 0 ;
  background-size: cover;
}

.grid{
  display: grid;
  grid-gap:10px;
  grid-template-columns: 1fr 2fr;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime{
  animation: anime;
}

@keyframes anime {
  0% { opacity: 0}
  50% { opacity: 1}
  100% { opacity: 0}
}
