
.transition{
  cursor: pointer;
  transition: all .3s;
  background-color: #FFFFFF;
}
.transition:hover{
  background-color: #000000;
}

.red{
  color:red;
}

.rotate{
  transform: rotateZ(45deg);
}

.bggoogle{
  width: 100px;
  height: 100px;
  background: url("https://www.google.co.jp/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png") no-repeat 0 0 ;
  background-size: cover;
}

