{% extends 'base.html.twig' %}

{% block title %}Genus {{ name }}{% endblock %}
{% block body %}
<h1>The Genus {{ name }}</h1>

<ul>
    {% for note in notes %}
    <li>{{ note }} <a href="{{ path('genus_show_notes', {'genusName': name} )}}">Json Link</a></li>
    {% endfor %}
</ul>
{% endblock %}
